.message-box-header {
  display: flex;
  justify-content: space-between;
}
.message-wapper {
  padding: 3px;
  @media (max-width: 640px) {
    width: 55%;
  }
  @media (max-width: 640px) {
    width: 90%;
  }
}
.message-wapper-right {
  padding: 3px;
  @media (max-width: 640px) {
    width: 55%;
  }
  @media (max-width: 640px) {
    width: 90%;
  }

  float: right;
}
.avatar-img {
  margin: 0 1rem;
  border-radius: 100px;
}
